// Footer
.footer {
  background-color: #2F3050;
  padding: 65px 0 70px;

  &W {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    @media(max-width: 1479px){
      column-gap: 30px;
    }
    @media(max-width: 575px){
      column-gap: 0;
    }
  }

  &Nav {
    grid-column: 4 span;
    @media(max-width: 575px){
      grid-column: 12 span;
    }

    &W {
      grid-column: 8 span;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 40px;
      margin-left: auto;
      margin-right: auto;
      @media(max-width: 1479px){
        grid-column: 7 span;
      }
      @media(max-width: 991px){
        column-gap: 15px;
        grid-column: 10 span;
      }
      @media(max-width: 767px){
        grid-column: 12 span;
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  &L,
  &R {
    grid-column: 3 span;
  }
  &R {
    @media(max-width: 991px){
      grid-column: 12 span;
      margin-top: 25px;
    }
  }
  &L {
    @media(max-width: 1479px){
      grid-column: 4 span;
    }   
    @media(max-width: 767px){
      grid-column: 12 span;
    }
  }

  .copyright {
    color: #E8E8E8;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.48px;
    margin-top: 6px;
  }

  .socials {
    ul {
      justify-content: flex-end;
      @media(max-width: 991px){
        justify-content: flex-start;
      }
    }

    a {
      background-color: #fff;
      border-radius: 50%;
      padding: 3px;
      display: block;
    }
  }

  &Phone {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-left: auto;
    display: block;
    text-align: end;
    padding-left: 21px;
    background: url('@img/icons/phone-white.png') no-repeat left center / 18px;
    width: fit-content;
    margin-bottom: 8px;
    text-decoration-color: transparent!important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    transition: text-decoration-color .2s linear!important;
    @media(max-width: 1199px){
      font-size: 16px;
    }
    @media(max-width: 991px){
      margin-left: unset;
    }

    &:hover {
      text-decoration-color: #E8E8E8!important;
      text-decoration: underline;
    }
  }

  &Nav {
    ul {
      li {
        margin-bottom: 8px;
        a {
          color: #E8E8E8;
          font-weight: 600;
          line-height: normal;
          // line-height: 30px;
          letter-spacing: -0.48px;
          text-decoration-color: transparent!important;
          text-decoration: underline;
          text-underline-offset: 5px;
          text-decoration-thickness: 1px;
          transition: text-decoration-color .2s linear;
          @media(max-width: 767px){
            font-size: 14px;
          }

          &:hover {
            text-decoration-color: #E8E8E8!important;
          }
        }
      }
    }
  }
  .logo {
    img {
      width: 250px;
    }
  }
}